@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  height: 14px;
  cursor: pointer;
  background-color: aqua;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #51768b;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #51768b;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.custom-slider:focus {
  outline: none;
}